# os trash
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# cache
*.sublime-project
*.sublime-workspace
.sass-cache/
*.sassc
.phpintel

# dependencies
bower_components
node_modules

# configuration
.codekit-config.json
.codekit-cache
config.codekit
prepros.cfg
